/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-6deg);
  }
  20% {
    transform: rotateZ(8deg);
  }
  25% {
    transform: rotateZ(-7deg);
  }
  30% {
    transform: rotateZ(5deg);
  }
  35% {
    transform: rotateZ(-3deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.accrocheTab {
  margin-bottom: -4px;
}

.containCity {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  background-color: white;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 20px;
  max-width: 400px;
}

.containAccrocheTab:hover {
  animation: wiggle 2s linear;
}

.containCity h2 {
  color: #4a9dec;
}

.containCity img {
  width: auto;
  max-width: 400px;
  height: 200px;
  border-radius: 10px;
}

.containCity a {
  text-decoration: none;
  color: #4a9dec;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .containCity {
    max-width: 330px;
  }

  .containCity img {
    max-width: 330px;
  }
}
