.citiesList h1 {
  margin-bottom: 60px;
  margin-top: 50px;
  color: lightseagreen;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px whitesmoke;
}

.containCities {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 15px;
}

@media screen and (max-width: 600px) {
  .containCities {
    padding-left: 40px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 400px) {
  .containCities {
    padding-left: 65px;
  }
}
